.Media {
     display: flex;
       align-items: flex-start;
    }

    .Media-figure {
         margin-right: 7px;
      }

      .Media-body {
           flex: 1;
        }

.vis-item {
   background-color: whitesmoke;
   border-color: lightgray;
}
